.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(var(--hero-background-color),
      var(--hero-background-color)),
    url(../images/hero-background-image.jpg);
  background-color: var(--hero-background-color);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
}

.hero__button {
  width: 216px;
  margin-top: 30px;
  padding: 10px 0;

  &:focus,
  &:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    outline: 0;
  }
}